<footer class="site-footer">
  <div class="foot-inner">
    <span class="foot-meta">
      © {{ 'now' | date: '%Y' }}
      <span data-l="en" lang="en">{{ site.author.name }}</span><span data-l="ko" lang="ko">김상진</span>
    </span>
    <span class="foot-links">
      <a href="https://github.com/{{ site.author.github }}">GitHub</a>
      <a href="{{ site.author.orcid }}">ORCID</a>
      <a href="mailto:{{ site.author.email }}"><span data-l="en" lang="en">Email</span><span data-l="ko" lang="ko">이메일</span></a>
    </span>
  </div>
</footer>
